

<!-- tool_dbcleaner/purge_singlekey -->
<div class="notification success row mb-3 w-50">
    <div class="source col">
        <table>
            <tr>
                <td><b>{{#str}}sourcetable, tool_dbcleaner{{/str}}</b>: </td>
                <td class="pl-3"> {{sourcetable}}</td>
            </tr>
            <tr>
                <td><b>{{#str}}sourcefield, tool_dbcleaner{{/str}}</b>: </td>
                <td class="pl-3"> {{sourcefield}}</td>
            </tr>
        </table>
    </div>
    <div class="source col">
        <table>
            <tr>
                <td><b>{{#str}}remotekeytable, tool_dbcleaner{{/str}}</b>: </td>
                <td class="pl-3"> {{remotekeytable}}</td>
            </tr>
            <tr>
                <td><b>{{#str}}remotekeyfield, tool_dbcleaner{{/str}}</b>: </td>
                <td class="pl-3"> {{remotekeyfield}}</td>
            </tr>
        </table>
    </div>
</div>

<!-- /tool_dbcleaner/purge_singlekey -->